#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/pointing.h>

#define CUSTOM 0
#define QWERTY 1
#define NUM 2
#define NAV 3
#define FUN 4
#define MOUSE 5

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    chosen { zmk,physical-layout = &gggw_crosses_36_layout; };

    behaviors {
        td_r1: td_r1 {
            compatible = "zmk,behavior-hold-tap";
            label = "TD_R1";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&sk>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Custom {
            bindings = <
&kp SQT        &kp B       &kp H       &kp G       &kp LS(SQT)       &kp SLASH       &kp COMMA      &kp DOT       &kp J       &kp X
&mt MOD_LGUI C &mt MOD_LALT S &mt MOD_LCTL N &mt MOD_LSFT T &lt MOUSE K &lt FUN SEMICOLON &mt MOD_RSFT A &mt MOD_RCTL E &mt MOD_RALT I &mt MOD_RGUI M
&kp EQUAL      &kp F       &kp L       &kp D       &kp V             &kp MINUS       &kp U          &kp O         &kp Y       &kp W
                           &kp ESCAPE  &lt NUM R    &lt NAV TAB        &td_r1 FUN LEFT_SHIFT &lt MOUSE SPACE &kp BACKSPACE
            >;
        };

        Qwerty {
            bindings = <
&kp Q          &kp W       &kp E       &kp R       &kp T             &kp Y           &kp U          &kp I         &kp O       &kp P
&mt MOD_LGUI A &mt MOD_LALT S &mt MOD_LCTL D &mt MOD_LSFT F &lt MOUSE G &lt FUN H        &mt MOD_RSFT J &mt MOD_RCTL K &mt MOD_RALT L &mt MOD_RGUI SEMICOLON
&kp Z          &kp X       &kp C       &kp V       &kp B             &kp N           &kp M          &kp COMMA     &kp DOT     &kp SLASH
                           &kp ESCAPE  &lt NUM R    &lt NAV TAB        &td_r1 FUN LEFT_SHIFT &lt MOUSE SPACE &kp BACKSPACE
            >;
        };

        Num {
            bindings = <
&kp LEFT_BRACKET     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET     &none          &kp LS(N7)     &kp LS(N8)    &kp LS(N9)     &none
&kp LS(LEFT_BRACKET) &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LS(RIGHT_BRACKET) &kp GRAVE      &kp LS(N4)     &kp LS(N5)    &kp LS(N6)     &kp BACKSLASH
&kp LS(N9)           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(N0)            &kp LS(GRAVE)  &kp LS(N1)     &kp LS(N2)    &kp LS(N3)     &kp LS(BACKSLASH)
                                  &none         &none         &none                  &none          &none          &none
            >;
        };

        Nav {
            bindings = <
&kp LC(Q)   &kp LC(W)  &kp LG(E)  &kp LC(R)  &kp LC(T)       &kp CAPSLOCK   &kp DELETE      &kp INSERT      &kp PRINTSCREEN  &kp PAUSE_BREAK
&kp LC(A)   &kp LC(S)  &kp LG(D)  &kp LC(F)  &kp LG(G)       &kp PG_UP      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT_ARROW
&kp LC(Z)   &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LG(B)       &kp PG_DN      &none           &none           &none            &none
                      &none      &none      &none            &kp HOME       &kp END         &none
            >;
        };

        Fun {
            bindings = <
&none  &kp F7  &kp F8  &kp F9  &kp F12       &none  &none  &none  &none  &none
&none  &kp F4  &kp F5  &kp F6  &kp F11       &none  &none  &none  &none  &none
&none  &kp F1  &kp F2  &kp F3  &kp F10       &none  &none  &none  &none  &none
              &none   &none   &none          &none  &none  &none
            >;
        };

        Mouse {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &bt BT_CLR      &bootloader &sys_reset &to QWERTY  &to CUSTOM
&none         &none         &none         &none         &none           &none           &none      &none      &none       &kp RIGHT_ALT
&trans        &none         &none         &none         &none           &studio_unlock  &none      &none      &none       &trans
                            &mkp MCLK     &mkp LCLK     &mkp RCLK       &mkp RCLK       &mkp LCLK  &mkp MCLK
            >;
        };

    };
 
};
