#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/modifiers.h>
#include <dt-bindings/zmk/pointing.h>

#define EN 0
#define KO 1
#define NUM 2
#define NAV 3
#define FUN 4
#define MOUSE 5

#define SHORTCUT_MODS (MOD_LCTL|MOD_RCTL|MOD_LALT|MOD_RALT|MOD_LGUI|MOD_RGUI)

&lt {
    tapping-term-ms = <150>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&mt {
    tapping-term-ms = <150>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

&trackball_peripheral_split {
    input-processors
        = <&zip_xy_to_scroll_mapper>
        , <&zip_scroll_scaler 1 6>
        ;
};

/ {
    chosen { zmk,physical-layout = &gggw_crosses_36_layout; };

    behaviors {
        td_r1: td_r1 {
            compatible = "zmk,behavior-hold-tap";
            label = "TD_R1";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
            bindings = <&mo>, <&sk>;
        };

        ko_kp: ko_kp {
            compatible = "zmk,behavior-key-press";
            label = "KO_KEY_PRESS";
            #binding-cells = <1>;
        };

        ko_mt: ko_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "KO_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        ko_lt: ko_lt {
            compatible = "zmk,behavior-hold-tap";
            label = "KO_LAYER_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };

        lang_to_ko: lang_to_ko {
            compatible = "zmk,behavior-macro";
            label = "LANG_TO_KO";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(SPACE)>, <&macro_tap &to KO>;
        };

        lang_to_en: lang_to_en {
            compatible = "zmk,behavior-macro";
            label = "LANG_TO_EN";
            #binding-cells = <0>;
            wait-ms = <30>;
            tap-ms = <30>;
            bindings = <&macro_tap &kp LC(SPACE)>, <&macro_tap &to EN>;
        };

        ko_yeo: ko_yeo {
            compatible = "zmk,behavior-mod-morph";
            label = "KO_YEO";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp U>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_ya: ko_ya {
            compatible = "zmk,behavior-mod-morph";
            label = "KO_YA";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp I>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_yu: ko_yu {
            compatible = "zmk,behavior-mod-morph";
            label = "KO_YU";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp B>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_yo: ko_yo {
            compatible = "zmk,behavior-mod-morph";
            label = "KO_YO";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp Y>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_f_c: ko_f_c {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp C>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_h_z: ko_h_z {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp G>, <&kp Z>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        ko_ya_mt: ko_ya_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "KO_YA_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_ya_k>;
        };

        ko_yo_mt: ko_yo_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "KO_YO_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_yo_l>;
        };

        ko_yeo_mt: ko_yeo_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "KO_YEO_MOD_TAP";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_yeo_j>;
        };

        en_equal_q: en_equal_q {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp Q>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_b_w: en_b_w {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp W>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_h_e: en_h_e {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp H>, <&kp E>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_g_r: en_g_r {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp G>, <&kp R>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_v_t: en_v_t {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp T>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_slash_y: en_slash_y {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp Y>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_dot_u: en_dot_u {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp U>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_comma_i: en_comma_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp I>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_semi_o: en_semi_o {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp O>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_bslash_p: en_bslash_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH>, <&kp P>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_c_a: en_c_a {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C>, <&kp A>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_n_d: en_n_d {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp N>, <&kp D>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_t_f: en_t_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp T>, <&kp F>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_k_g: en_k_g {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp K>, <&kp G>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_w_h: en_w_h {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp H>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_a_j: en_a_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp J>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_e_k: en_e_k {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp K>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_i_l: en_i_l {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp I>, <&kp L>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_m_semi: en_m_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp SEMICOLON>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_sqt_z: en_sqt_z {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp Z>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_f_x: en_f_x {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp X>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_l_c: en_l_c {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp C>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_d_v: en_d_v {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp D>, <&kp V>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_dqt_b: en_dqt_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(SQT)>, <&kp B>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_minus_n: en_minus_n {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp N>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_u_m: en_u_m {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp U>, <&kp M>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_o_comma: en_o_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp COMMA>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_y_dot: en_y_dot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Y>, <&kp DOT>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_j_slash: en_j_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp J>, <&kp SLASH>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        en_c_a_mt: en_c_a_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_c_a>;
        };

        en_n_d_mt: en_n_d_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_n_d>;
        };

        en_t_f_mt: en_t_f_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_t_f>;
        };

        en_k_g_lt: en_k_g_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&en_k_g>;
        };

        en_w_h_lt: en_w_h_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&en_w_h>;
        };

        en_a_j_mt: en_a_j_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_a_j>;
        };

        en_e_k_mt: en_e_k_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_e_k>;
        };

        en_i_l_mt: en_i_l_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_i_l>;
        };

        en_m_semi_mt: en_m_semi_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&en_m_semi>;
        };

        ko_equal_q: ko_equal_q {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp EQUAL>, <&kp Q>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_w_w: ko_w_w {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp W>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_e_e: ko_e_e {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp E>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_t_r: ko_t_r {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp T>, <&kp R>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_c_t: ko_c_t {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C>, <&kp T>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_slash_y: ko_slash_y {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SLASH>, <&kp Y>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_dot_u: ko_dot_u {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp U>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_comma_i: ko_comma_i {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp I>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_semi_o: ko_semi_o {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SEMICOLON>, <&kp O>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_bslash_p: ko_bslash_p {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BACKSLASH>, <&kp P>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_x_a: ko_x_a {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp X>, <&kp A>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        // QWERTY shortcuts take precedence over the Shift-only Korean aliases.
        ko_f_f: ko_f_f {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_f_c>, <&kp F>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_h_g: ko_h_g {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_h_z>, <&kp G>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_p_h: ko_p_h {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp P>, <&kp H>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_yeo_j: ko_yeo_j {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_yeo>, <&kp J>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_ya_k: ko_ya_k {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_ya>, <&kp K>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_yo_l: ko_yo_l {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_yo>, <&kp L>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_o_semi: ko_o_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp O>, <&kp SEMICOLON>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_sqt_z: ko_sqt_z {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp Z>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_a_x: ko_a_x {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp A>, <&kp X>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_q_c: ko_q_c {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp C>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_z_v: ko_z_v {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp V>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_dqt_b: ko_dqt_b {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp LS(SQT)>, <&kp B>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_minus_n: ko_minus_n {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp MINUS>, <&kp N>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_l_m: ko_l_m {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp L>, <&kp M>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_m_comma: ko_m_comma {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp M>, <&kp COMMA>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_yu_dot: ko_yu_dot {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&ko_yu>, <&kp DOT>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_v_slash: ko_v_slash {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp SLASH>;
            mods = <SHORTCUT_MODS>;
            keep-mods = <SHORTCUT_MODS>;
        };

        ko_x_a_mt: ko_x_a_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_x_a>;
        };

        ko_f_f_mt: ko_f_f_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_f_f>;
        };

        ko_h_g_lt: ko_h_g_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&ko_h_g>;
        };

        ko_p_h_lt: ko_p_h_lt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&mo>, <&ko_p_h>;
        };

        ko_o_semi_mt: ko_o_semi_mt {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
            quick-tap-ms = <150>;
            bindings = <&kp>, <&ko_o_semi>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        En {
            bindings = <
&en_equal_q    &en_b_w     &en_h_e     &en_g_r     &en_v_t           &en_slash_y     &en_dot_u      &en_comma_i   &en_semi_o    &en_bslash_p
&en_c_a_mt LGUI 0 &mt LALT S &en_n_d_mt LCTL 0 &en_t_f_mt LSFT 0 &en_k_g_lt MOUSE 0 &en_w_h_lt MOUSE 0 &en_a_j_mt RSFT 0 &en_e_k_mt RCTL 0 &en_i_l_mt RALT 0 &en_m_semi_mt RGUI 0
&en_sqt_z      &en_f_x     &en_l_c     &en_d_v     &en_dqt_b         &en_minus_n     &en_u_m        &en_o_comma   &en_y_dot     &en_j_slash
                           &kp ESCAPE  &lt NUM R    &lt NAV TAB        &td_r1 FUN LEFT_SHIFT &lt MOUSE SPACE &kp BACKSPACE
            >;
        };

        Ko {
            bindings = <
&ko_equal_q       &ko_w_w        &ko_e_e        &ko_t_r        &ko_c_t               &ko_slash_y     &ko_dot_u      &ko_comma_i     &ko_semi_o          &ko_bslash_p
&ko_x_a_mt LGUI 0 &ko_mt LALT S  &ko_mt LCTL D  &ko_f_f_mt LSFT 0 &ko_h_g_lt MOUSE 0 &ko_p_h_lt MOUSE 0 &ko_yeo_mt RSFT 0 &ko_ya_mt RCTL 0 &ko_yo_mt RALT 0 &ko_o_semi_mt RGUI 0
&ko_sqt_z         &ko_a_x        &ko_q_c        &ko_z_v        &ko_dqt_b             &ko_minus_n     &ko_l_m        &ko_m_comma     &ko_yu_dot          &ko_v_slash
                               &kp ESCAPE     &ko_lt NUM R   &lt NAV TAB          &td_r1 FUN LEFT_SHIFT &lt MOUSE SPACE &kp BACKSPACE
            >;
        };

        Num {
            bindings = <
&kp LEFT_BRACKET     &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp RIGHT_BRACKET     &none          &kp LS(N7)     &kp LS(N8)    &kp LS(N9)     &none
&kp LS(LEFT_BRACKET) &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp LS(RIGHT_BRACKET) &kp GRAVE      &kp LS(N4)     &kp LS(N5)    &kp LS(N6)     &kp BACKSLASH
&kp LS(N9)           &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp LS(N0)            &kp LS(GRAVE)  &kp LS(N1)     &kp LS(N2)    &kp LS(N3)     &kp LS(BACKSLASH)
                                  &none         &none         &none                  &none          &none          &none
            >;
        };

        Nav {
            bindings = <
&kp LC(Q)   &kp LC(W)  &kp LG(E)  &kp LC(R)  &kp LC(T)       &kp CAPSLOCK   &kp DELETE      &kp INSERT      &kp PRINTSCREEN  &kp PAUSE_BREAK
&kp LC(A)   &kp LC(S)  &kp LG(D)  &kp LC(F)  &kp LG(G)       &kp PG_UP      &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW     &kp RIGHT_ARROW
&kp LC(Z)   &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LG(B)       &kp PG_DN      &none           &none           &none            &none
                      &none      &none      &none            &kp HOME       &kp END         &none
            >;
        };

        Fun {
            bindings = <
&none  &kp F7  &kp F8  &kp F9  &kp F12       &none  &none  &none  &none  &none
&none  &kp F4  &kp F5  &kp F6  &kp F11       &none  &none  &none  &none  &none
&none  &kp F1  &kp F2  &kp F3  &kp F10       &none  &none  &none  &none  &none
              &none   &none   &none          &none  &none  &none
            >;
        };

        Mouse {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_CLR      &bt BT_CLR      &bootloader &sys_reset &none       &none
&to EN        &kp LC(SPACE) &to KO        &none         &none           &none           &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP &mmv MOVE_RIGHT
&trans        &none         &none         &none         &none           &studio_unlock  &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP &msc SCRL_RIGHT
                            &mkp MCLK     &mkp LCLK     &mkp RCLK       &mkp RCLK       &mkp LCLK  &mkp MCLK
            >;
        };

    };

    combos {
        compatible = "zmk,combos";

        combo_en_snt_enter {
            timeout-ms = <50>;
            key-positions = <11 12 13>;
            layers = <EN>;
            bindings = <&kp ENTER>;
        };

        combo_en_bh_w {
            timeout-ms = <50>;
            key-positions = <1 2>;
            layers = <EN>;
            bindings = <&kp W>;
        };

        combo_en_fl_x {
            timeout-ms = <50>;
            key-positions = <21 22>;
            layers = <EN>;
            bindings = <&kp X>;
        };

        combo_en_ld_p {
            timeout-ms = <50>;
            key-positions = <22 23>;
            layers = <EN>;
            bindings = <&kp P>;
        };

        combo_en_hg_q {
            timeout-ms = <50>;
            key-positions = <2 3>;
            layers = <EN>;
            bindings = <&kp Q>;
        };

        combo_en_cs_z {
            timeout-ms = <50>;
            key-positions = <10 11>;
            layers = <EN>;
            bindings = <&kp Z>;
        };

        combo_ko_left_top_p {
            timeout-ms = <50>;
            key-positions = <1 2>;
            layers = <KO>;
            bindings = <&ko_kp V>;
        };

        combo_en_ko_home_left_click {
            timeout-ms = <50>;
            key-positions = <16 17>;
            layers = <EN KO>;
            bindings = <&mkp LCLK>;
        };

        combo_en_ko_home_right_click {
            timeout-ms = <50>;
            key-positions = <17 18>;
            layers = <EN KO>;
            bindings = <&mkp RCLK>;
        };

        combo_en_ko_bottom_scroll_down {
            timeout-ms = <50>;
            key-positions = <26 27>;
            layers = <EN KO>;
            bindings = <&msc SCRL_DOWN>;
        };

        combo_en_ko_bottom_scroll_up {
            timeout-ms = <50>;
            key-positions = <27 28>;
            layers = <EN KO>;
            bindings = <&msc SCRL_UP>;
        };

        combo_ko_home_enter {
            timeout-ms = <50>;
            key-positions = <11 12 13>;
            layers = <KO>;
            bindings = <&kp ENTER>;
        };

        combo_en_lang_to_ko {
            timeout-ms = <70>;
            key-positions = <30 35>;
            layers = <EN>;
            bindings = <&lang_to_ko>;
        };

        combo_ko_lang_to_en {
            timeout-ms = <70>;
            key-positions = <30 35>;
            layers = <KO>;
            bindings = <&lang_to_en>;
        };

        combo_os_language_toggle {
            timeout-ms = <70>;
            key-positions = <30 34>;
            layers = <EN KO>;
            bindings = <&kp LC(SPACE)>;
        };

        combo_en_layer_to_ko {
            timeout-ms = <70>;
            key-positions = <32 35>;
            layers = <EN>;
            bindings = <&to KO>;
        };

        combo_ko_layer_to_en {
            timeout-ms = <70>;
            key-positions = <32 35>;
            layers = <KO>;
            bindings = <&to EN>;
        };

        combo_num_12_0 {
            timeout-ms = <50>;
            key-positions = <21 22>;
            layers = <NUM>;
            bindings = <&kp NUMBER_0>;
        };

        combo_num_23_dot {
            timeout-ms = <50>;
            key-positions = <22 23>;
            layers = <NUM>;
            bindings = <&kp DOT>;
        };

        combo_num_45_minus {
            timeout-ms = <50>;
            key-positions = <11 12>;
            layers = <NUM>;
            bindings = <&kp MINUS>;
        };

        combo_num_56_plus {
            timeout-ms = <50>;
            key-positions = <12 13>;
            layers = <NUM>;
            bindings = <&kp LS(EQUAL)>;
        };

        combo_num_78_slash {
            timeout-ms = <50>;
            key-positions = <1 2>;
            layers = <NUM>;
            bindings = <&kp SLASH>;
        };

        combo_num_89_asterisk {
            timeout-ms = <50>;
            key-positions = <2 3>;
            layers = <NUM>;
            bindings = <&kp LS(NUMBER_8)>;
        };
    };
 
};
